.header {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.login__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.fb {
  margin-bottom: 56px;
}
