<app-header [title]="'Graficas'" [color]="'tertiary'"></app-header>


<ion-content>
  <ion-button expand="full" color="tertiary" style="height: 50%;">
    <div class="btn-content">
      <ion-text color="light" style="font-size: 25px;">Gráfica Cosas Lindas</ion-text>
      <ion-icon name="stats-chart-sharp" size="large" color="light"></ion-icon>
    </div>
  </ion-button>

  <ion-button expand="full" color="tertiary" style="height: 50%;">
    <div class="btn-content">
      <ion-text color="light" style="font-size: 25px;">Gráfica Cosas Feas</ion-text>
      <ion-icon name="pie-chart-sharp" size="large" color="light"></ion-icon>
    </div>
  </ion-button>
</ion-content>
